@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .hotel {
        &-slider {
            width: 570px;
        }
    }
    .card {
        width: 225px;
        height: 225px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 760px;
    }
    .header {
        &-top {
            padding: 30px 0;
        }
        &__search {
            margin-left: auto;
        }
        &__nav {
            padding: 22px 0 23px;
        }
    }
    .logo {
        width: 132px;
    }
    .search {
        width: 340px;
    }
    .nav__link {
        font-size: $secondary-fz;
        line-height: 15px;
    }
    .hotel {
        padding-bottom: 60px;
        &-grid {
            flex-direction: column;
        }
        &__slider {
            margin-bottom: 30px;
        }
        &-location {
            flex-direction: row;
        }
        &-slider {
            width: 100%;
        }
    }
    .swiper-slide__img {
        width: 100%;
    }
    .booking {
        width: 360px;
        height: 210px;
    }
    .map {
        width: 360px;
    }
    .newsletter {
        &-container {
            padding: 0 10px;
        }
    }
    .reviews {
        padding-bottom: 60px;
        &-title {
            font-size: 30px;
            line-height: 38px;
        }
        &__title {
            margin-bottom: 50px;
        }
        &-slider {
            &__item {
                max-width: 579px;
                min-height: 300px;
                &::before,
                &::after {
                    display: none;
                }
            }
            &__desc {
                max-width: 455px;
            }
        }
    }
    .activities {
        &-list {
            flex-wrap: wrap;
            &__item {
                margin-bottom: 20px;
            }
        }
    }
    .card {
        width: 360px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 576px;
        width: 95%;
    }
    .header {
        &__search,
        &__user,
        &__nav {
            display: none;
        }
    }
    .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 16px;
        height: 11px;
        padding: 0;
        @include btn-reset;
        &__link {
            width: 16px;
            height: 1px;
            background-color: $main-text-color;
        }
    }
    .hotel {
        padding-bottom: 40px;
        &-info {
            &__text {
                width: 100%;
            }
            &__wrapper {
                justify-content: space-between;
            }
            &__offer {
                order: -1;
                margin-left: 0;
            }
            &__name {
                margin-top: 10px;
            }
            &__rating {
                display: none;
            }
        }
        &-name {
            flex-basis: 100%;
        }
        &-slider {
            height: 350px;
        }
        &-location {
            flex-direction: column;
            min-height: 450px;
        }
    }
    .star {
        flex-basis: auto;
    }
    .booking {
        width: 100%;
    }
    .map {
        width: 100%;
    }
    .newsletter {
        &-container {
            flex-direction: column;
            align-items: flex-start;
            width: 92%;
            max-width: 576px;
        }
        &-title {
            flex: 0;
            margin-bottom: 37px;
        }
    }
    .reviews {
        padding-bottom: 50px;
        &-title {
            max-width: 245px;
            margin: 0 auto;
            font-size: 18px;
            line-height: 23px;
        }
        &__title {
            margin-bottom: 42px;
        }
        &-slider {
            &__item {
                max-width: 280px;
                min-height: 440px;
            }
            &__desc {
                max-width: 220px;
            }
            &__button {
                top: 32px;
                &_prev {
                    left: 50%;
                    margin-left: -65px;
                    transform: translateX(-50%);
                }
                &_next {
                    right: 50%;
                    margin-right: -65px;
                    transform: translateX(50%);
                }
            }
        }
    }
    .activities {
        padding-bottom: 70px;
    }
    .card {
        width: 48.7%;
    }
}

@media (max-width: 576px) {
    .header {
        &__logo {
            width: 99px;
        }
    }
    .hotel {
        &-slider {
            height: 180px;
        }
        &__slider {
            margin-bottom: 20px;
        }
    }
    .newsletter {
        padding: 76px 0 83px;
        &-title {
            font-size: 20px;
            line-height: 25px;
            &__strong {
                font-size: 30px;
                line-height: 38px;
            }
        }
    }
    .subscribe {
        width: 280px;
    }
    .activities {
        padding: 40px 0 60px;
        &__title {
            margin-bottom: 36px;
            font-size: 18px;
            line-height: 23px;
        }
    }
    .card {
        width: 100%;
    }
}

@media (max-width: 320px) {
    .card {
        width: 280px;
    }
}