@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 760px;
    }
    .header {
        &-top {
            padding: 30px 0;
        }
        &__search {
            margin-left: auto;
        }
        &__nav {
            padding: 22px 0 23px;
        }
    }
    .logo {
        width: 132px;
    }
    .search {
        width: 340px;
    }
    .nav__link {
        font-size: $secondary-fz;
        line-height: 15px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 576px;
        width: 92%;
    }
    .header {
        &__search,
        &__user,
        &__nav {
            display: none;
        }
    }
    .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 16px;
        height: 11px;
        padding: 0;
        @include btn-reset;
        &__link {
            width: 16px;
            height: 1px;
            background-color: $main-text-color;
        }
    }
    .hotel {
        &-info {
            &__text {
                width: 100%;
            }
            &__wrapper {
                justify-content: space-between;
            }
            &__offer {
                order: -1;
                margin-left: 0;
            }
            &__name {
                margin-top: 10px;
            }
            &__rating {
                display: none;
            }
        }
        &-name {
            flex-basis: 100%;
        }
    }
    .star {
        flex-basis: auto;
    }
}

@media (max-width: 576px) {
    .header {
        &__logo {
            width: 99px;
        }
    }
}