@mixin btn-reset {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@mixin slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    width: 30px;
    height: 30px;
    background-size: 10px;
    background-position: center;
    background-repeat: no-repeat;
}

@mixin form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@mixin input {
    height: 50px;
    padding-left: 23px;
    font-size: 12px;
    font-weight: 400;
    color: $secondary-text-color;
    background-color: $secondary-color;
    border: none;
    border-radius: 4px;
}

@mixin textarea {
    flex: 0 0 100%;
    width: 100%;
    min-height: 123px;
    padding: 18px 10px 10px 23px;
    font-size: 12px;
    font-weight: 400;
    color: $secondary-text-color;
    background-color: $secondary-color;
    border: none;
    border-radius: 4px;
}

@mixin footer-btn {
    padding: 18px 66px;
    font-size: 12px;
    font-weight: 700;
    color: $secondary-color;
    background-color: $color-accent;
    border-radius: 4px;
}