/* Background color */

$main-bg-color: #f5fafe;
$secondary-bg-color: #ec1f46;

/* Text color */

$main-text-color: #fff;
$secondary-text-color: #bdbdbd;

/* Font size */

$main-font-size: 14px;
$secondary-font-size: 12px;