.footer {
    padding: 108px 0 46px;
    color: $secondary-text-color;
    background-color: $color-dark;
    &-wrapper {
        display: grid;
        grid-template-areas: "footer-logo footer-categories footer-info footer-legal-info" "footer-logo footer-categories footer-network footer-legal-info" "footer-contact footer-contact footer-form-wrapper footer-form-wrapper" ". footer-policy footer-policy footer-payment";
        grid-template-columns: repeat(4, minmax(min-content, 1fr));
        column-gap: 75px;
        grid-auto-rows: minmax(140px, min-content);
        align-items: start;
        min-height: 375px;
    }
    &-logo {
        grid-area: footer-logo;
        width: 166px;
        margin-top: 30px;
    }
    &-categories {
        grid-area: footer-categories;
    }
    &-title {
        max-width: 250px;
        font-size: 18px;
        text-transform: uppercase;
        line-height: 23px;
        color: $secondary-color;
    }
    &__title {
        margin: 0 0 16px 0;
    }
    &-list {
        &__link {
            transition: text-decoration, color .4s ease-in-out;
            &:hover {
                text-decoration: underline;
                color: rgba(30, 226, 184, 0.692);
            }
        }
    }
    &-list__item {
        line-height: 160%;
    }
    &-info {
        grid-area: footer-info;
    }
    &-legal-info {
        grid-area: footer-legal-info;
        width: 190px;
    }
    &-network {
        grid-area: footer-network;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 295px;
        &__title {
            margin: 0 43px 0 0;
        }
    }
    &__social-network {
        margin-top: 24px;
    }
    &-social {
        display: flex;
        justify-content: space-between;
        align-items: start;
        min-width: 85px;
        &__link {
            transition: background-color .4s ease-in-out;
            &:hover {
                background-color: rgba(47, 182, 6, 0.692);
            }
        }
        &__img {
            border-radius: 50%;
        }
    }
    &-contact {
        grid-area: footer-contact;
        max-width: 493px;
        &__title {
            margin: 0 0 30px 0;
        }
        &__desc {
            margin: 0 0 22px 0;
        }
        &__item {
            display: flex;
            align-items: flex-start;
            line-height: 160%;
            &_mb-2:not(:last-child) {
                margin-bottom: 20px;
            }
        }
        &__img-wrapper {
            display: flex;
            align-items: center;
            min-width: 40px;
        }
        &__img {
            margin-top: 4px;
        }
        &__address {
            margin: 0;
        }
        &__address-link {
            display: inline-block;
            transition: text-shadow, text-decoration, transform .4s ease-in-out;
            &:hover {
                text-shadow: 1px 1px 2px rgba(12, 94, 56, 0.521);
                text-decoration: underline;
                color: rgba(46, 231, 29, 0.746);
            }
        }
    }
    &-form-wrapper {
        grid-area: footer-form-wrapper;
        &__title {
            margin: 0 0 34px 0;
        }
    }
    &-form {
        @include form;
        &__input-group {
            flex-basis: 47%;
            margin-bottom: 15px;
        }
        &__input {
            width: 100%;
            @include input;
        }
        &__textarea {
            margin-bottom: 22px;
            @include textarea;
        }
        &__btn {
            @include btn-reset;
            @include footer-btn;
            transition: background-color .4s ease-in-out;
            &:hover {
                @include hover-color;
            }
        }
        &__info {
            font-size: 12px;
            font-weight: 700;
            line-height: 15px;
            color: #e0e0e0;
        }
    }
    &-policy {
        grid-area: footer-policy;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: flex-end;
        min-width: 283px;
        margin: 0 auto;
        &__link {
            font-size: 12px;
            font-weight: 400;
            line-height: 15px;
            color: $secondary-color;
            transition: text-decoration, color .3s ease-in-out;
            &:hover {
                text-decoration: underline;
                color: rgba(5, 158, 163, 0.897);
            }
        }
    }
    &-payment {
        grid-area: footer-payment;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: flex-end;
        min-width: 136px;
        margin-left: auto;
        &__link {
            align-self: center;
        }
        &__img {
            width: 20px;
            height: 12px;
        }
    }
}