.hotel {
    padding: 24px 0 70px;
    &-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        &__wrapper {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
        &__offer {
            margin-left: 14px;
            margin-top: 4px;
        }
        &__name {
            margin: 4px 0 0 0;
        }
        &__desc {
            margin: 5px 0;
        }
    }
    &-name {
        font-size: 24px;
        line-height: 30px;
    }
    &-desc {
        font-size: 12px;
        line-height: 15px;
    }
    &-grid {
        display: flex;
        justify-content: space-between;
    }
    &-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.star {
    flex-basis: 100%;
}

.offer {
    padding: 4px 9px;
    font-size: 10px;
    font-weight: 600;
    color: $secondary-color;
    background-color: $color-accent;
    border-radius: 3px;
}

.rating {
    max-width: 65px;
    min-height: 45px;
    padding: 9px 6px;
    color: $secondary-color;
    text-align: center;
    background-color: $color-accent;
    border-radius: 4px;
    &__user {
        margin-bottom: 2px;
        font-size: 8px;
        line-height: 10px;
    }
    &__counter {
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
    }
}

.swiper-container {
    position: relative;
    width: 100%;
    height: 450px;
    border-radius: 8px;
    &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
    }
}

.slider {
    width: 728px;
    &-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 99;
        width: 30px;
        height: 30px;
        background-size: 10px;
        background-position: center;
        background-repeat: no-repeat;
        @include btn-reset;
        &_next {
            right: 18px;
            background-image: url("../icons/arrow-next.svg");
        }
        &_prev {
            left: 18px;
            background-image: url("../icons/arrow-prev.svg");
        }
    }
}

.swiper-slide__img {
    width: 728px;
}

.booking {
    width: 350px;
    min-height: 210px;
    padding: 28px;
    color: $secondary-color;
    background: $color-dark;
    border-radius: 8px;
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 9px;
    }
    &-price {
        display: flex;
        flex-direction: column;
        margin-bottom: 9px;
        &__start {
            font-family: "Nunito";
            font-size: 10px;
            line-height: 14px;
        }
        &__pricetag {
            font-family: "Nunito";
            font-size: 24px;
            font-weight: 800;
            line-height: 33px;
        }
        &__per-room {
            font-family: "Nunito";
            font-size: 12px;
            line-height: 16px;
        }
    }
    &-person,
    &-room {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: "Nunito";
        font-size: 12px;
        line-height: 16px;
        &__img {
            margin-right: 10px;
        }
    }
    &-room {
        margin-bottom: 0;
    }
    &-contact {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 17px;
        font-family: "Nunito";
        font-size: 18px;
        font-weight: 600;
        line-height: 25px;
        &__number {
            margin-left: 8px;
        }
    }
    &__btn {
        width: 100%;
        padding: 13px 0;
        font-family: "Nunito";
        font-size: 14px;
        font-weight: 600;
        line-height: 19px;
        color: $secondary-color;
        @include btn-reset;
        border-radius: 4px;
        background-color: $color-accent;
    }
}

.map {
    width: 347px;
    height: 213px;
    &__location {
        width: 100%;
        height: 100%;
        border: 0;
    }
}